*, html, body, header {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

/** header **/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    background-color: white;
    font-size: 1.25rem;
    height: 64px;
}

.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding: 0 24px;
}

.logo {
    display: flex;
    align-items: center;
    height: 32px;
    text-transform: uppercase;
}

.logotype {
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 16px;
}

/** section 1 **/
.section {
    display: flex;
}

#section-1 {
    margin-top: 64px;
    background-color: #DCDCDC;
}

.left {
    width: 60%;
    margin: 32px 24px;
}

img {
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 40%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.button {
    width: 100%;
    padding: 8px;
    background-color: gray;
    color: white;
    text-align: center;
}

/** section 2 **/
.left h1 {
    margin: 32px 0 24px 0;
}

.quote-source {
    margin-top: 32px;
    color: black;
}

.right-2 {
    display: flex;
    flex-direction: column;
    width: 40%;

    padding-top: 32px;
    border: 1px solid;
    border-color: transparent transparent transparent #DCDCDC;
    
}

.right-2-box {
    display: flex;
    padding: 16px 16px 16px 32px;
    border: 1px solid;
    border-color: #DCDCDC transparent #DCDCDC #DCDCDC;
}

#first-box {
    padding-top: 0;
    border-top-color: transparent;
}

#last-box {
    background-color: lightgray;
    border-color: transparent;
}

.right-2-box a {
    color: lightskyblue;
}

.box-img {
    width: 35%;
    height: auto;
}

.box-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin: 0 16px;
}

/** section 3 courses **/
.section-3 {
    background-color: whitesmoke;
    padding: 32px 72px;
}

.section-3 h1 {
    text-align: center;
    margin-bottom: 32px;
}

.catelog {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.course {
    width: 30%;
}

.course img {
    height: auto;
}

.course-content {
    padding:16px 24px;
    background-color: white;
    height: 150px;
}

.course-p {
    margin: 8px 0;
}

.course p {
    color: lightslategray;
}