*, html, body, header {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

html, body, header {
    min-width: 480px;
}

p {
    line-height: 1.5;
}

/** header **/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    background-color: white;
    font-size: 1.25rem;
    height: 64px;
}

.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding: 0 24px;
}

.logo {
    display: flex;
    align-items: center;
    height: 32px;
    text-transform: uppercase;
}

.logotype {
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 16px;
}

/** responsive design **/
@media only screen and (min-width: 720px) {
    .small {
        display: none;
    }
}


@media only screen and (max-width: 720px) {
    .large {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: space-around;
        gap: normal;
        width: 100%;
    }
}

/** section 1 **/
#section-1 {
    margin-top: 64px;
    background-color: #DCDCDC;
}

/** responsive design **/
@media only screen and (min-width: 720px) {
    .section-a {
        display: flex;
    }

    .left {
        width: 60%;
        margin: 32px 24px;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 40%;
        padding-right: 16px;
    }
}

@media only screen and (max-width: 720px) {
    .right {
        padding: 32px 16px;
    }

    .right h2 {
        margin: 32px 0 24px 0;
    }

    .button {
        display: block;
    }
}

img {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.button {
    width: 100%;
    padding: 8px;
    background-color: gray;
    color: white;
    text-align: center;
}

/** section 2 **/
.left h1 {
    margin: 32px 0 24px 0;
}

.quote-source {
    margin-top: 32px;
    color: black;
}

#first-box {
    padding-top: 0;
    border-top-color: transparent;
}

.right-2-box a {
    color: lightskyblue;
}

/** responsive design **/
@media only screen and (min-width: 720px) {
    .right-2 {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding-top: 32px;
        border: 1px solid;
        border-color: transparent transparent transparent #DCDCDC;
    }

    .right-2-box {
        display: flex;
        padding: 16px 16px 16px 32px;
        border: 1px solid;
        border-color: #DCDCDC transparent #DCDCDC #DCDCDC;
    }

    .box-img {
        width: 35%;
        height: auto;
    }
    
    .box-content {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        margin: 0 16px;
    }
    
    .gray {
        background-color: lightgray;
        border-color: transparent;
    }    
}

@media only screen and (max-width: 720px) {
    .section-a .left {
        display: none;
    }

    .right-2 {
        padding-top: 16px;
        border: 1px solid;
        border-color: transparent transparent transparent #DCDCDC;
    }

    .right-2-box {
        padding: 16px 16px 0 16px;
    }

    .box-img {
        height: auto;
    }
    
    .box-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 1rem 0 3rem 1rem;
    }

    #last-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 1rem 0 2rem 1rem;
    }
}

/** section 3 courses **/
.section-b {
    padding: 32px 72px;
}

#section-3 {
    background-color: whitesmoke;
}

.section-b h1 {
    text-align: center;
    margin-bottom: 32px;
}

.catelog {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.course {
    width: 30%;
}

.course img {
    height: auto;
    width: 100%;
}

.course-content {
    padding:16px 24px;
    background-color: white;
    height: 180px;
}

.course-p {
    margin: 8px 0;
}

.course p {
    color: lightslategray;
}

/** responsive design **/
@media only screen and (max-width: 910px) {
    .course-content {
        padding:16px 24px;
        background-color: white;
        height: 210px;
    }
}

@media only screen and (min-width: 785px) {
    .small-2 {
        display: none;
    }
}

@media only screen and (max-width: 785px) {
    .large-2 {
        display: none;
    }

    #section-3 {
        background-color: transparent;
    }

    .section-b {
        padding: 32px 16px 24px 16px;
    }
}

.catelog-2 h2 {
    background-color: lightgray;
    padding: 24px 16px 24px 16px;
    margin-bottom: 8px;
}


/** section 4 **/



.section-c h1 {
    margin-bottom: 32px;
    text-align: center;
}

.exhibit-content {
    display: flex;
}

.video {
    width: 100%;
    height: auto;
}

.left-4 h2 {
    margin-top: 24px;
}

.left-4 p {
    margin-top: 8px;
}

.right-4 {
    width: 40%;
    margin-left: 12px;
}

.right-4-box {
    display: flex;
}

.right-4-box img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.right-4-box-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-4-box-text p {
    margin: 8px 0;
}
@media only screen and (min-width: 720px) {
    .section-c {
        padding: 32px 12px;
        border: 1px solid;
        border-color: transparent transparent #DCDCDC transparent;
    }
    
    .left-4 {
        margin: 0 12px;
        width: 60%;
        overflow: hidden;
    }
}
@media only screen and (max-width: 720px) {
    .left-4 {
        overflow: hidden;
    }

    .section-c {
        padding: 32px 0 24px 0;
  }

}

/** footer **/
.footer {
    display: inline-flex;
    justify-content: space-between;
    padding: 16px 24px 48px 24px;
    width: 100%;
}

#footer-right {
    display: flex;
    gap: 8px;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .footer {
        padding: 16px 24px;
    }
}